/*=== CSS Global ===*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    /* background-color: tomato; */
    /* font-size: 10px ; /*Tamaño base, por defecto es 16px*/ 
    font-family: 'Poppins', sans-serif;
    background-color: #181823;
    color: #eff5f5;
}
:root{
    --color: #181823;
    --color: #eff5f5;    
    --color: #fc7300;
    --color: #1f8a70;
    --color: #00425a;
}

/*=== CSS Encabezado ===*/
#encabezado{
    display: flex;
    background-color: hsla(196, 100%, 18%, 0.2);
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 10%;
}
#menu{
    text-align: center;
}
#opciones{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-transform: uppercase;
    font-weight: bold;
}
ul#opciones li a {
    color: #1f8a70;
}

/*=== CSS Banner ===*/
#banner{
    position: relative;
}
#imgBanner{
    width: 100%;
    height: 100vh;
}
#subtituloBanner{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: 'Belanosima', sans-serif;
    font-size: 3rem;
    color: #FC7300;
    background-color: #181823b3;
}

/*=== CSS Titulos Pincipales y Titulos Secundarios ===*/
#tituloSecun{
    text-decoration: underline;
    padding: 6%;
    text-align: center;
    font-weight: bolder;
    color: #FC7300;
}

/*=== CSS Ultimas Noticias ===*/
#noticias{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    padding-bottom: 2%;
}
#noticia{
    padding: 2%;
}
article#noticia h3{
    text-align: center;
    padding-bottom: 1%;
}

/*=== CSS Pie de Pagina ===*/
#piePagina{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: rgb(0, 66, 90, 0.2);
}

/*=== CSS Formulario ===*/
#imgForm{
    width: 100%;
    height: 100vh;
}

/*=== CSS Mobile First ===*/

/*
@media (min-width 320px) {
   
}
@media (min-width 768px) {

}
/*
@media (min-width 1200px) {
    
} */

/*
#FC7300 LETRA Banner (Naranja)
#1F8A70 LETRA Opciones (celeste)
#00425A LETRA Titulos Secundarios (azul)
#181823 FONDO (azul oscuro)
#EFF5F5 LETRA General (blanco)
*/